body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: rgb(24, 151, 138);
    color: white;
    padding: 1em 0;
    text-align: center;
}
img{height: 200px;
    width: 200px;
    border-radius: 60%;
    
}
header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

h1, h2, h3 {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    background-color: aquamarine;
}
